<nav>
    <button routerLink="home">Bienvenida</button>
    @if (!haySesion()) {
        <button routerLink="login">Iniciar Sesión</button>
        <button routerLink="registro">Registro</button>
    }
    <button routerLink="quien-soy">Quien Soy</button>
    @if (haySesion()) {
        @if (esAdmin()) {
            <button routerLink="home/resultados-encuesta">Resultados de Encuestas</button>
        }
        <button (click)="cerrarSesion()">Cerrar Sesión</button>
    }
    <p class="nombre-usuario">{{ nombre() }} {{ apellido() }}</p>
</nav>

<router-outlet />
