h3 {
    color: var(--amarillo);
    text-align: center;
    margin: 24px 0 16px;
    font-size: 22px;
}
h4 {
    color: var(--amarillo);
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
}
.github-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 500px;
    margin: 20px auto;
    padding: 24px;
    /* background-color: var(--fondo-tarjeta); */
    border-radius: 12px;
}
.github-data img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--acento);
}
.github-data p {
    font-size: 16px;
    margin: 4px 0;
}
.juego-propio-info {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 24px;
    background-color: var(--fondo-tarjeta);
    border-radius: 12px;
    border: 2px solid var(--acento);
    color: var(--texto-principal)
}
.eleccion {
    margin-bottom: 20px;
}
.eleccion p {
    font-size: 15px;
    line-height: 1.6;
}
.reglas ul {
    padding-left: 20px;
}
.reglas li {
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.4;
}